@import '../variables/variables.scss';

.slide.title {
    opacity: 0;
    position: relative;
    transition: 2s all;
    z-index: 0;
    left: -2rem;
    font-size: 2rem;
    color: $second-font;
}
@media (min-width: 37.71rem) {
    .slide.title {
        font-size: 1.2rem;
    }
}
.slide.title.active{
    opacity: 1;
    z-index: 1;
    left: 0;
}
.slider {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 1;
}
.slider-slides-cnt > .slider-slide > .slide.title {
    background: transparent;
}

.slider-slides-cnt :nth-child(1) {
    background: url('./assets/imgs/large/ck.jpg');
    background-size: cover;
    background-position: center;
}
.slider-slides-cnt :nth-child(2) {
    background: url('./assets/imgs/large/castle.jpg');
    background-size: cover;
    background-position: center;
}
.slider-slides-cnt :nth-child(3) {
    background: url('./assets/imgs/large/rocks.jpg');
    background-size: cover;
    background-position: center;
}
.slider-slides-cnt :nth-child(4) {
    background: url('./assets/imgs/large/main_image.jpg');
    background-size: cover;
    background-position: center;
}
.slider-slides-cnt :nth-child(5) {
    background: url('./assets/imgs/large/main_image.jpg');
    background-size: cover;
    background-position: center;
}
/* kontener dla wszystkich slajdów */
.slider-slides-cnt {
    height:100%;
    position: relative;
}
/* pojedynczy slide */
.slider-slide {
    position: absolute;
    left:0;
    top:0;
    margin: 0;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity:0;
    z-index: 0;
    transition: all 2s ease-in-out;
}
/* slide aktywny */
.slider-slide-active {
    opacity: 1;
    z-index: 1;
}
.slider-button-next {
    margin-right: 2.2em;
}
.slider-button-prev {
    margin-left: 2.2rem;
}
@media (min-width: 37.71rem) {
    .slider-button-next {
        margin-right: 2.2em;
    }
    .slider-button-prev {
        margin-left: 1.2rem;
    }
}
.slider-button-prev,
.slider-button-next {
    cursor: pointer;
    z-index: 2;
    position: absolute;
    width:2rem;
    height:2rem;
    background: $color-mobile-menu-bkg-btn;
    border:0;
    border-radius: 50%;
    text-indent:-999px;
    overflow:hidden;
    top: 50%;
    left: 1%;
    right: 1%;
    transform: translateY(-50%);
}
.slider-button-next {
    left: auto;
}
.slider-button-prev:focus,
.slider-button-next:focus {
    outline: none;
}
.slider-button-prev:before,
.slider-button-next:before {
    content:"<";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 50%;
    right: auto;
    top: calc(50% - .05rem);
    width:100%;
    height:100%;
    font-size: 1.2rem;
    color: $main-bkg;
    text-indent: 0;
    transform: translate(-50%, -50%);
}
.slider-button-next:before {
    content: ">";
    transform: translate(-50%, -50%);
    right: calc(-50% - 1px);
    left: auto;
}