@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../mixins/main_page.scss';
@import '../mixins/main_containers.scss';
@import '../variables/variables.scss';
@import '../keyframes/keyframes.scss';
@import '../mixins/general_arrow_btn.scss';

.wrapper {
	width: 100%;
	height: auto;
	scrollbar-width: none;
	&_inner {
		display: flex;
		flex-direction: column;
		width: 100%;
		scrollbar-width: none;
		position: relative;
		z-index: -1;
	}
}
.main {
	width: auto;
	display: flex;
	flex-direction: column;
	scrollbar-width: none;
	background: $second_bkg;
	&_one,
	&_two,
	&_three {
		@include main_page($main_bkg, auto);
	}
}
.contFront {
	@include main_container;
	grid-template-columns: 100%;
	grid-template-rows: repeat(3, auto);
	&_one {
		padding: 1rem;
		grid-row: 1 / 2;
		height: 100vh;
		& > div {
			width: 100%;
			height: 100%;
			padding: 0 .05rem .05rem 0;
			background-image: url('./assets/imgs/small/main_image.jpg');
			background-size: cover;
			background-position: center;
			box-shadow: $shadow_box;
			display: flex;
			align-items: flex-end;
			justify-content: flex-start;
			& > h1 {
				font-size: 3rem;
				max-width: 80%;
				margin: 0 0 1rem 1rem;
				font-weight: normal;
				color: $second_font;
				background-color: transparent;
				width: fit-content;
				padding: .2rem .8rem;
			}
		}
	}
	&_two {
		height: fit-content;
		grid-row: 3 / 4;
		padding: 0 1rem 1rem;
		&--socialMedia {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 2rem 1rem 2.5rem;
			width: 100%;
			height: 100%;
			border: $width_brd solid $main_bkg;
			box-shadow: $shadow_box;
			z-index: 9;
			& .socialMediaBox {
				&_hdr {
					position: absolute;
					font-size: 2rem;
					bottom: -1rem;
					background: $second_bkg;
					padding: .2rem .8rem;
					text-align: center;
				}
				display: grid;
				grid-template-rows: repeat(3, 1fr);
				grid-template-columns: repeat(2, 1fr);
				@media (min-width: 37rem) and (max-width: 51.99rem) {
					grid-template-rows: 1fr;
					grid-template-columns: repeat(5, 1fr);
				}
				// media for iphone 5/se landscape:
				@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
					grid-template-rows: 1fr;
					grid-template-columns: repeat(5, 1fr);
				}
				gap: 3rem 3rem;
				margin-top: 0rem;
				&_link {
					display: flex;
					justify-content: center;
					align-items: center;
					overflow: visible;
					width: 3.2rem;
					height: 3.2rem;
					&--icon {
						width: 2.8rem;
					}
				}
				& > .arrowBox {
					@include general_arrow_btn($font_hover, $main_bkg);
					transform: rotate(90deg);
					&:active,
					&:focus {
						transform: rotate(90deg) scale(.9);
					}
					justify-self: center;
					align-self: center;
					grid-row: 3 / 4;
					grid-column: 1 / 3;
					@media (min-width: 37rem) and (max-width: 51.99rem) {
						grid-row: 1 / 2;
						grid-column: 5 / 6;
					}
					// media for iphone 5/se landscape:
					@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
						grid-row: 1 / 2;
						grid-column: 5 / 6;
					}
				}
			}
		}
	}
	&_three,
	&_three:active {
		position: relative;
		height: 50vh;
		@media (orientation: landscape) and (max-width: 52rem) {
			height: 100vh;
		}
		z-index: 0;
		grid-row: 2 / 3;
		background: $second_bkg;
		padding: 0 1rem 1rem;
	}
}
.contMiddle {
	@include main_container;
	height: 100vh;
	@media (orientation: landscape) {
		height: 300vh;
	}
	grid-template-rows: repeat(3, 1fr);
	font-size: 2.2rem;
	color: $main_font;
	font-weight: normal;
	font-family: $header_font;
	&_inner {
		&--one,
		&--two,
		&--three {
			& > a,
			&:active > a {
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 100%;
				background-size: cover;
				background-position: center;
				box-shadow: $shadow_box;
				> span {
					padding: .2rem .8rem;
					background: $second_bkg;
				}
			}
			&:active {
				filter: grayscale(100%);
			}
		}
		&--one {
			grid-row: 1 / 2;
			padding: 0 1rem 1rem 1rem;
			& > a {
				background-image: url('./assets/imgs/small/castle.jpg');
			}
		}
		&--two {
			grid-row: 2 / 3;
			padding: 0 1rem 1rem 1rem;
			& > a {
				background-image: url('./assets/imgs/small/ck.jpg');
			}
		}
		&--three {
			grid-row: 3 / 4;
			padding: 0 1rem 1rem;
			& > a {
				background-image: url('./assets/imgs/small/ksiaz.jpg');
			}
		}
	}
}
.contEnd {
	@include main_container;
	grid-template-rows: repeat(3, 1fr);
	font-size: 1rem;
	@media (min-width: 37rem) {
		font-size: 1.2rem;
	}
	&_one,
	&_two,
	&_three {
		& > div {
			height: 50vh;
			@media (min-width: 37rem) and (orientation: portrait) {
				height: 30vh;
			}
			@media (min-width: 37rem) and (orientation: landscape),
				only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
				height: min(90vh);
			}
			position: relative;
			width: 100%;
			padding: 2rem 2rem 2.5rem;
			display: flex;
			flex-direction: column-reverse;
			justify-content: center;
			align-items: center;
			border: $width_brd solid $main_bkg;
			box-shadow: $shadow_box;
			& > h3 {
				position: absolute;
				font-size: 1.6rem;
				padding: .2rem .8rem;
				bottom: -1rem;
				background: $second_bkg;
				text-align: center;
				width: 85%;
			}
			& > p {
				margin: 0;
				text-justify: center;
				text-align: center;
			}
		}
	}
	&_one {
		grid-row: 1 / 2;
		padding: 0 1rem 1rem;
	}
	&_two {
		grid-row: 2 / 3;
		padding: 0 1rem 1rem;
	}
	&_three {
		grid-row: 3 / 4;
		padding: 0 1rem 1rem;
	}
}
//below rules apply if the browser not support mentioned in brackets, which is characteristic only for IE and EDGE version <=44
@supports not (-ms-ime-align: auto) {
	@media (min-width: 52rem) {
		.wrapper {
			width: 100vw;
			height: 100vh;
			@media (pointer: fine) and (orientation: landscape) {
				//checking if user has a  tablet with high resolution screen or computer/laptop and can use pointing device like touchpad or mouse
				width: 100vh;
				height: 100vw;
				transform: rotate(-90deg) translateX(-100vh);
				transform-origin: top left;
				overflow-y: scroll;
				overflow-x: hidden;
				position: absolute;
			}
			scrollbar-width: none;
			&::-webkit-scrollbar {
				display: none;
			}
			&_inner {
				@media (pointer: fine) and (orientation: landscape) {
					display: grid;
					grid-template-rows: 100%;
					grid-template-columns: 75% 25%;
					background-color: $second_bkg;
					width: fit-content;
					transform: rotate(90deg) translateY(-100vh);
					transform-origin: top left;
				}
			}
		}
		.main {
			height: fit-content;
			@media (pointer: fine) and (orientation: landscape) {
				flex-direction: row;
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}
			&_one,
			&_two,
			&_three {
				@include main_page($main_bkg, 100vh);
				@media (orientation: portrait) and (hover: none), (orientation: portrait) {
					height: 50vh;
				}
			}
		}
		.contFront {
			@include main_container;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: 1fr 1fr;
			&_one {
				grid-column: 1 / 2;
				grid-row: 1 / 3;
				padding: 3.5rem 0 2rem 2rem;
				height: 100%;
				& > div {
					background-image: url('./assets/imgs/large/main_image.jpg');
					& > h1 {
						font-size: 2rem;
					}
				}
			}
			&_two {
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				color: $main_font;
				padding: 3.5rem 2rem 0 2rem;
				height: 50vh;
				@media (orientation: portrait) and (hover: none), (orientation: portrait) {
					height: 25vh;
				}
				&--socialMedia {
					border-width: $width_brd-dskt;
					& .socialMediaBox {
						&_hdr {
							font-size: 1rem;
						}
						gap: 1rem 2rem;
						&_link {
							width: 2.2rem;
							height: 2.2rem;
							&--icon {
								width: 1.9rem;
							}
						}
						& > .arrowBox {
							margin-top: .2rem;
							grid-column: 1 / 3;
							transform: rotate(0deg);
							&:active,
							&:focus {
								transform: rotate(0deg) scale(.9);
							}
							> .arrowClass {
								&--top,
								&--bottom {
									height: .08rem;
									width: 1rem;
									left: .4rem;
								}
							}
						}
					}
				}
			}
			&_three,
			&_three:active {
				@media (orientation: portrait) and (hover: none), (orientation: portrait) {
					height: 25vh;
				}
				grid-column: 2 / 3;
				padding: 2rem 2rem 2rem 2rem;
			}
		}
		.contMiddle {
			@include main_container;
			grid-template-rows: 100%;
			grid-template-columns: repeat(3, 1fr);
			font-size: 1.6rem;
			&_inner {
				&--one--desktop,
				&--two--desktop,
				&--three--desktop {
					grid-row: 1 / 2;
					padding: 3.5rem 1rem 2rem 1rem;
					min-height: 100%;
					& a {
						min-height: 100%;
						> span {
							padding: .2rem .8rem;
							background: $second_bkg;
						}
						&:hover {
							transition: background .6s, color .6s;
							background-size: cover;
							background-position: center;
							> span {
								background: $main_bkg;
								color: $second_font;
							}
						}
						&:active {
							transform: scale(.99);
						}
					}
				}
				&--one--desktop {
					padding: 0 .5rem 2rem 2rem;
					@media (pointer: fine) and (orientation: landscape) {
						padding: 3.5rem 2rem 2rem 0;
						margin-right: 0;
					}
					& > a:hover {
						--bkgUrl: url('./assets/imgs/large/castle.jpg');
						background-image: var(--bkgUrl);
						animation: animatedBackground .6s linear;
					}
				}
				&--two--desktop {
					padding: 0 1.25rem 2rem 1.25rem;
					@media (pointer: fine) and (orientation: landscape) {
						padding: 3.5rem 2rem 2rem 0;
					}
					& > a:hover {
						--bkgUrl: url('./assets/imgs/large/ck.jpg');
						background-image: var(--bkgUrl);
						animation: animatedBackground .6s linear;
					}
				}
				&--three--desktop {
					padding: 0 2rem 2rem .5rem;
					@media (pointer: fine) and (orientation: landscape) {
						padding: 3.5rem 2rem 2rem 0;
					}
					& > a:hover {
						--bkgUrl: url('./assets/imgs/large/ksiaz.jpg');
						background-image: var(--bkgUrl);
						animation: animatedBackground .6s linear;
					}
				}
			}
		}
		.contEnd {
			@include main_container;
			grid-template-rows: 100%;
			grid-template-columns: repeat(3, 1fr);
			font-size: .8rem;
			&_one,
			&_two,
			&_three {
				grid-row: 1 / 2;
				height: 100%;
				& > div {
					border-width: $width_brd-dskt;
					height: 100%;
					& > h3 {
						font-size: 1.2rem;
						padding: .2rem .8rem;
						background: $second_bkg;
					}
				}
			}
			&_one {
				padding: 0 .5rem 2rem 2rem;
				@media (pointer: fine) and (orientation: landscape) {
					padding: 3.5rem 2rem 2rem 0;
				}
			}
			&_two {
				padding: 0 1.25rem 2rem 1.25rem;
				@media (pointer: fine) and (orientation: landscape) {
					padding: 3.5rem 2rem 2rem 0;
				}
			}
			&_three {
				padding: 0 2rem 2rem .5rem;
				margin-bottom: 0;
				@media (pointer: fine) and (orientation: landscape) {
					padding: 3.5rem 2rem 2rem 0;
				}
			}
		}
	}
}
