@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../mixins/main_page.scss';
@import '../mixins/main_containers.scss';
@import '../mixins/general_btn.scss';
@import '../variables/variables.scss';
@import '../keyframes/keyframes.scss';

.outer-wrapper {
    width: 100%;
    height: auto;
    scrollbar-width: none;
}
.inner-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    scrollbar-width: none;
}
.main {
    width: auto;
    display: flex;
    flex-direction: column;
    scrollbar-width: none;
    background: $main-bkg;
}
body::-webkit-scrollbar {
    display: none;
}
.main__page--one {
    @include main__page($main-bkg, 200vh);
}
.main__page--two,
.main__page--three {
    @include main__page($main-bkg, 100vh);
}
@media (orientation: landscape) {
    .main__page--two,
    .main__page--three {
        @include main__page($main-bkg, 200vh);
    }
}

.container-front{
    @include main_container;
    grid-template-columns: 100%;
    grid-template-rows: 50% 25% 25%;
    font-size: 2rem;
    & > * {
        background-color: $second-bkg;
        display: flex;
    }
    & > .element--one {
        grid-row: 1 / 2;
        background: url('./assets/imgs/small/main_image.jpg');
        background-size: cover;
        color: $second-font;
        background-position: center;
    }
    & > .element--two {
        grid-row: 3 / 4;
        background: $second-bkg;
        display: flex;
        align-items: flex-end;
        & > .container-inner {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            & > .text {
                    margin-left: 0;
                }
            & > .get-contact {
                    position: relative;
                    height: 2rem;
                    width: 2rem;
                > .get-contact {
                    &--top,
                    &--bottom {
                        position: absolute;
                        background: $hoover-bkg;
                        height: .08rem;
                        width: 1rem;
                        left: 0.2rem;
                        &:after {
                            background-color: $main-font;
                            content: '';
                            height: 100%;
                            position: absolute;
                            top: 0;
                            transition: all .1s;
                        }
                    }
                    &--top {
                        transform: rotate(45deg);
                        transform-origin: bottom right;
                        &:after {
                            left: 100%;
                            right: 0;
                            transition-delay: 0s;
                        }
                    }
                    &--bottom {
                        transform: rotate(-45deg);
                        transform-origin: top right;
                        &:after {
                            left: 0;
                            right: 100%;
                            transition-delay: .1s;
                        }
                    }
                }
                &:hover {
                > .get-contact {
                        &--top:after {
                            border: transparent;
                            left: 0;
                            transition-delay: .1s;
                        }
                        &--bottom:after {
                            border: transparent;
                            right: 0;
                            transition-delay: 0s;
                        }
                    }
                }
                &:active,
                &:focus {
                    transform: scale(0.9);
                }
            }
        }
    }
    & > .element--two.sub {
        font-size: 1.2rem;
    }
    & > .element--three, .element--three:active {
        grid-row: 2 / 3;
        padding: 0;
        background: $second-bkg;
    }
}

.container-middle{
    @include main_container;
    grid-template-rows: repeat(3, 1fr);
    font-size: 3rem;
    color: $second-font;
    & > .element--one, .element--one:active {
        grid-row: 1 / 2;
        background: url('./assets/imgs/small/castle.jpg');
        background-size: cover;
        background-position: center;
        &:active {
            filter: grayscale(100%);
        }
    }

    & > .element--two, .element--two:active {
        grid-row: 2 / 3;
        background: url('./assets/imgs/small/ck.jpg');
        background-size: cover;
        background-position: center;
        &:active {
            filter: grayscale(100%);
        }
    }

    & > .element--three, .element--three:active {
        grid-row: 3 / 4;
        background: url('./assets/imgs/small/ksiaz.jpg');
        background-size: cover;
        background-position: center;
        &:active {
            filter: grayscale(100%);
        }
    }
}
.container-end{
    @include main_container;
    grid-template-rows: repeat(3, 1fr);
    font-size: 3rem;
    & > div {
        background-color: $second-bkg;
    }
    & >.element--one {
    grid-row: 1 / 2;
    }
    & >.element--two {
    grid-row: 2 / 3;
    }
    & >.element--three {
    grid-row: 3 / 4;
    }
}

@media (pointer: fine) and (min-width: 52rem) {
    body::-webkit-scrollbar {
        display: none;
    }
    .main {
        position: relative;
        width: fit-content;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        display: flex;
        flex-direction: row;
    }
    .main__page--one,
    .main__page--two,
    .main__page--three {
        @include main__page($main-bkg, 100vh);
    }
    .outer-wrapper {
        width: 100vh;
        height: 100vw;
        transform: rotate(-90deg) translateX(-100vh);
        transform-origin: top left;
        overflow-y: scroll;
        overflow-x: hidden;
        position: absolute;
        scrollbar-width: none;
    }
    .inner-wrapper {
        display: grid;
        grid-template-rows: 100%;
        grid-template-columns: 75% 25%;
        background-color: $main-bkg;
        width: fit-content;
        transform: rotate(90deg) translateY(-100vh);
        transform-origin: top left;
    }
    .container-front{
        @include main_container;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr;
        & > * {
            background: $main-bkg;
            color: $second-font;
            display: flex;
        }
        & >.element--one {
            grid-column: 1 / 2;
            grid-row: 1 / 3;
            background: url('./assets/imgs/large/main_image.jpg');
            background-size: cover;
            background-position: center;
        }
        & >.element--two {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
            color: $main-font;
            & > .container-inner {
                    & > .text span {
                        font-size: 1rem;
                    }
            }
        }
        & >.element--three, .element--three:active {
            grid-column: 2 / 3;
            grid-row: 2 / 3;
            padding: 0;
        }
    }
    .container-middle {
        @include main_container;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        background: $second-bkg;
        color: $main-font;
        & > a {
            background: $second-bkg;
            color: $main-font;
            padding: .5em;
            }
        & >.element--one.desktop {
            background: $second-bkg;
            grid-column: 1;
            grid-row: 1;
            &:hover{
                --bkgUrl: url('./assets/imgs/large/castle.jpg');
                background: var(--bkgUrl);
                color: $second-font;
                animation: animatedBackground .6s linear;
                transition: background .6s;
                background-size: cover;
                background-position: center;
            }
            &:hover:active {
                transform: scale(.99);
            }
        }
        & >.element--two.desktop {
            background: $second-bkg;
            grid-column: 2;
            grid-row: 1;
            &:hover {
                --bkgUrl: url('./assets/imgs/large/ck.jpg');
                background: var(--bkgUrl);
                color: $second-font;
                animation: animatedBackground .6s linear;
                transition: background .6s, color .6s;
                background-size: cover;
                background-position: center;
            }
            &:hover:active {
                transform: scale(.99);
            }
        }
        & >.element--three.desktop {
            background: $second-bkg;
            grid-column: 3;
            grid-row: 1;
            &:hover {
                --bkgUrl: url('./assets/imgs/large/ksiaz.jpg');
                background: var(--bkgUrl);
                color: $second-font;
                animation: animatedBackground .6s linear;
                transition: background .6s;
                background-size: cover;
                background-position: center;
            }
            &:hover:active {
                transform: scale(.99);
            }
        }
    }
    .container-end{
        @include main_container;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        & > * {
            background: $second-bkg;
            color: $main-font;
            display: flex;
        }
        & >.element--one {
            grid-column: 1;
            grid-row: 1;
        }
        & >.element--two {
            grid-column: 2;
            grid-row: 1;
        }
        & >.element--three {
            grid-column: 3;
            grid-row: 1;
        }
    }
}


