@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';
@import '../mixins/nav_button.scss';
@import '../mixins/general_btn.scss';
@import '../keyframes/keyframes.scss';

.header_top {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50%;
	left: 100%;
	margin-top: -1.5em;
	margin-left: -4em;
	z-index: $zidx_mob_menu_sgl_btn;
}
.topNav {
	&--dskt {
		display: none;
	}
	&_logo {
		&--mobile {
			position: fixed;
			font-size: 1rem;
			top: 1em;
			right: .8em;
			background-color: $second_bkg;
			& img {
				max-width: 4rem;
				height: auto;
			}
		}
	}
	&_open {
		border: none;
		height: 0rem;
		width: 0rem;
		margin: 0rem;
		overflow: hidden;
		padding: 0;
		position: absolute;
		background: transparent;
		&:checked ~ .topNav_openLabel .topNav_openLabel_box .box_inner::before {
			transform: translateY(.5em) rotate(45deg);
		}
		&:checked ~ .topNav_openLabel .topNav_openLabel_box .box_inner::after {
			transform: translateY(-.5em) rotate(-45deg);
		}
		&:checked ~ .topNav_openLabel .topNav_openLabel_box .box_inner {
			background: transparent;
		}
		&:checked ~ .topNav_items--mobile {
			display: flex;
			flex-direction: column;
			position: absolute;
		}
		&:checked ~ .topNav_openLabel {
			transform: scale(.8);
		}
		&:checked ~ .topNav_items--mobile {
			font-size: 1rem;
			transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
			& > div {
				margin-left: -9em;
			}
			& > :nth-child(1) {
				transition-duration: 150ms;
				transform: translate3d(.8em, 2.9rem, 0);
				&:active {
					transform: translate3d(.8em, 2.9rem, 0) scale(.98);
				}
			}
			& > :nth-child(2) {
				transition-duration: 100ms;
				transform: translate3d(.8em, -3.6rem, 0);
				&:active {
					transform: translate3d(.8em, -3.6rem, 0) scale(.98);
				}
			}
			& > :nth-child(3) {
				transition-duration: 170ms;
				transform: translate3d(.8em, -10.2rem, 0);
				&:active {
					transform: translate3d(.8em, -10.2rem, 0) scale(.98);
				}
			}
			& > :nth-child(4) {
				transition-duration: 180ms;
				transform: translate3d(.8em, .9rem, 0);
				&:active {
					transform: translate3d(.8em, .9rem, 0) scale(.98);
				}
			}
		}
	}
	&_openLabel {
		@include general_btn($second_bkg, $second_bkg, $main_font, $hover_bkg, $main_brd, $main_shdw);
		position: fixed;
		display: flex;
		align-items: center;
		justify-content: center;
		top: 50%;
		margin-top: -2.4rem;
		right: 1rem;
		width: 4rem;
		height: 4rem;
		z-index: $zidx_mob_menu_sgl_btn;
		&_box {
			width: 2em;
			height: 2em;
			display: flex;
			position: relative;
			float: right;
			background: transparent;
			padding: 0;
			.box_inner {
				width: 100%;
				height: 0.2rem;
				margin: 0;
				padding: 0;
				background: $main_bkg;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				transition: background-color .1s .08s ease-in-out;
				&::before,
				&::after {
					content: '';
					width: 100%;
					padding: 0;
					height: 0.2rem;
					background-color: $main_bkg;
					position: absolute;
					transition: transform .1s .05s ease-in-out;
				}
				&::before {
					top: -.5em;
					left: 0;
				}
				&::after {
					top: .5em;
					left: 0;
				}
			}
		}
	}
	&_items--mobile {
		height: 1rem;
		font-size: 1rem;
		transition-timing-function: cubic-bezier(0.8, 0, 0.64, 1.9);
		& > div {
			@include top-nav-btn-model($second_bkg, $hover_bkg, $main_font, $font_hover, $main_brd, $main_shdw);
			top: 50%;
			left: 100%;
			margin-top: -1.5rem;
			margin-left: 8rem;
		}
		& > :nth-child(1) {
			transition-duration: 150ms;
			transform: translate3d(0, 2.9rem, 0);
		}
		& > :nth-child(2) {
			transition-duration: 100ms;
			transform: translate3d(0, -3.6rem, 0);
		}
		& > :nth-child(3) {
			transition-duration: 170ms;
			transform: translate3d(0, -10.2rem, 0);
		}
		& > :nth-child(4) {
			transition-duration: 210ms;
			transform: translate3d(0, .9rem, 0);
		}
	}
}

@media (min-width: 37.71rem) {
	.header_top {
		display: inline;
		margin: 0;
		top: auto;
		left: auto;
	}
	.topNav {
		&--mobile,
		&_openLabel,
		&_open {
			display: none;
		}
		&--dskt {
			position: fixed;
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: space-between;
			align-items: center;
			padding: 0 2rem;
			width: 100%;
			background-color: $second_bkg;
			z-index: $zidx_top_navbar;
		}
		&_logo--dskt {
			padding: .3rem 0;
			display: inline;
			& > span {
				max-height: 2.4rem;
				& > img {
					max-height: 2.4rem;
					align-self: center;
				}
			}
		}
		&_items--dskt {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			margin: .6em 0;
			font-size: .8rem;
			@media (min-width: 52rem) {
				font-size: .6rem;
			}
			& > div {
				@include top-nav-btn-model($second_bkg, $hover_bkg, $main_font, $font_hover, $main_brd, $main_shdw);
				position: relative;
				transition: all 300ms linear;
				min-width: 6rem;
				& .background-roll-down {
					position: absolute;
					height: 100%;
					width: 0%;
					margin-left: -.2rem;
					background: $second_bkg;
					transition: all 300ms;
				}
				&:hover {
					color: $second_font;
					& .background-roll-down {
						background: $main_bkg;
						animation: backgroundRollDown 300ms ease-in;
						width: calc(100% + .4rem);
					}
				}
				& + div {
					margin: 0 0 0 1em;
				}
			}
		}
	}
}
