@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';

.header__top--fixed {
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: $index_top_navabr;
}
.top-nav__items {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    & > li {
        text-decoration: none;
        list-style: none;
    }
}