@import '../variables/variables.scss';
@import '../mixins/general_btn.scss';
@import '../keyframes/keyframes.scss';
@import '../mixins/general_arrow_btn.scss';

.scroll_btn {
	@include general_btn($second_bkg, $second_bkg, $main_font, $hover_bkg, $main_brd, $main_shdw);
	position: fixed;
	display: none;
	width: 3rem;
	height: 3rem;
	bottom: 1rem;
	right: 1rem;
	z-index: $zidx_mob_menu_sgl_btn;
	&:active {
		transform: none;
	}

	& > .arrow-class {
		@include general_arrow_btn($font_hover, $main_bkg);
		height: .5rem;
		width: .5rem;
		margin-left: .2rem;
		margin-bottom: .2rem;
		transform: rotate(-90deg);
		&:active,
		:focus {
			transform: rotate(-90deg);
		}
	}

	@media (min-width: 52rem) and (pointer: fine) {
		height: 2rem;
		width: 2rem;
	}
}

.scroll_btn--active {
	display: inline-block;
	animation: shake_btn 2s linear;
}
