@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';

.poland > .main__page--one,
.germany > .main__page--one,
.czechia > .main__page--one {
        height: 100vh;
    }
.poland > .main__page--two,
.germany > .main__page--two,
.czechia > .main__page--two {
        height: fit-content;
    }

.poland :nth-child(1)> .container,
.germany :nth-child(1)> .container,
.czechia :nth-child(1)> .container {
    grid-template-columns: 100%;
    grid-template-rows: 1fr;
    & .element--one {
        grid-row: 1 / 2;
        font-size: 2rem;
        color: $second-font;
    }
    & .element--two {
        grid-row: 2 / 3;
    }
}
.poland :nth-child(2) > .container-middle,
.germany :nth-child(2) > .container-middle,
.czechia :nth-child(2) > .container-middle {
    height: fit-content;
    grid-template-rows: none;
    grid-template-columns: 100%;
    grid-auto-rows: minmax(25vh, 30vh);
    & > * {
        background-color: $second-bkg;
        color: $main-font;
        padding: .5em;
        display: flex;
        grid-row: auto;
    }
}

@media (pointer: fine) and (min-width: 52rem) {
    .poland > .main__page--one,
    .germany > .main__page--one,
    .czechia > .main__page--one {
        width: 100vw;
    }
    .poland > .main__page--one > .container-front,
    .germany > .main__page--one > .container-front,
    .czechia > .main__page--one > .container-front {
        width: 100vw;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 100%;
        & .element--one {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
        & .element--two {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }
    }
    .poland :nth-child(2) > .container-middle,
    .germany :nth-child(2) > .container-middle,
    .czechia :nth-child(2) > .container-middle {
        height: 100vh;
        width: fit-content;
        grid-auto-rows: unset;
        grid-template-rows: 100%;
        grid-template-columns: unset;
        grid-auto-columns: minmax(30vw, 33vw);
        & > * {
            background: $second-bkg;
            color: $main-font;
            padding: 4rem 2rem 3rem 2rem;
            grid-row: 1 / 2;
        }
    }
}