@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';

.poland > .main__page--one,
.germany > .main__page--one,
.czechia > .main__page--one {
	height: 100vh;
	@media (orientation: landscape) {
		height: calc(100vh * 1.24);
	}
}
.poland > .main__page--two,
.germany > .main__page--two,
.czechia > .main__page--two {
	height: fit-content;
	width: fit-content;
}
.poland :nth-child(1) > .container-front,
.germany :nth-child(1) > .container-front,
.czechia :nth-child(1) > .container-front {
	grid-template-columns: 1fr;
	grid-template-rows: 3fr 1fr;
	& .element--one {
		grid-row: 1 / 2;
		grid-column: 1 / 2;
		font-size: 2rem;
		color: $second-font;
		padding: 1rem 1rem 0;
	}
	& .element--two {
		font-size: 1.2rem;
		grid-row: 2 / 3;
		grid-column: 1 / 2;
		padding: 1rem;
		& > p {
			margin: 0;
		}
	}
}
.element--one > div {
	background-size: cover;
	background-position: center;
}
.poland :nth-child(1) > .container > .element--one > div {
	background-image: url('./assets/imgs/small/ck.jpg');
}
.germany :nth-child(1) > .container > .element--one > div {
	background-image: url('./assets/imgs/small/ck.jpg');
}
.czechia :nth-child(1) > .container > .element--one > div {
	background-image: url('./assets/imgs/small/ck.jpg');
}
.poland :nth-child(2) > .container-middle,
.germany :nth-child(2) > .container-middle,
.czechia :nth-child(2) > .container-middle {
	height: fit-content;
	width: 100vw;
	grid-template-rows: unset;
	grid-template-columns: 100%;
	grid-auto-rows: auto;
	@media (min-width: 37rem) {
		grid-auto-rows: minmax(30vh, 60vh);
		@media (orientation: portrait) {
			grid-auto-rows: minmax(30vh, auto);
		}
	}
	@media (orientation: landscape) and (hover: none) {
		grid-auto-rows: 100vh;
	}
	@media (min-width: 52rem) {
		grid-auto-rows: minmax(30vh, auto);
		@media (orientation: landscape) {
			grid-auto-rows: minmax(auto, 100vh);
		}
	}
	& > article {
		background: $second-bkg;
		color: $main-font;
		padding: 1rem;
		display: flex;
		grid-row: auto;
		grid-column: auto;
	}
}
//below rules apply if the browser not support mentioned in brackets, which is characteristic only for IE and EDGE version <=44
@supports not (-ms-ime-align: auto) {
	@media (pointer: fine) and (min-width: 52rem) {
		.poland > .main__page--one,
		.germany > .main__page--one,
		.czechia > .main__page--one {
			width: 100vw;
			height: 100vh;
			@media (orientation: portrait) {
				height: 50vh;
			}
		}
		.poland > .main__page--one > .container-front,
		.germany > .main__page--one > .container-front,
		.czechia > .main__page--one > .container-front {
			width: 100vw;
			grid-template-columns: 2fr 1fr;
			grid-template-rows: 100%;
			& .element--one {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
				padding: 3.5rem 2rem 2rem 2rem;
			}
			& .element--two {
				grid-column: 2 / 3;
				grid-row: 1 / 2;
				padding: 3.5rem 2rem 2rem 0;
			}
		}
		.poland :nth-child(2) > .container-middle,
		.germany :nth-child(2) > .container-middle,
		.czechia :nth-child(2) > .container-middle {
			height: fit-content;
			width: fit-content;
			grid-template-rows: unset;
			grid-template-columns: 100%;
			grid-auto-rows: minmax(35vh, 40vh);
			@media (orientation: landscape) and (hover: none) {
				grid-auto-rows: 100vh;
				@media (min-width: 52rem) {
					grid-auto-rows: minmax(40vh, 60vh);
				}
			}
			@media (pointer: fine) and (orientation: landscape) {
				height: 100vh;
				width: fit-content;
				grid-auto-rows: unset;
				grid-template-rows: 100%;
				grid-template-columns: unset;
				grid-auto-columns: minmax(35vw, 45vw);
			}
			& > article {
				background: $second-bkg;
				color: $main-font;
				grid-row: auto;
				@media (pointer: fine) and (orientation: landscape) {
					grid-row: 1 / 2;
				}
			}
			& > article + article {
				padding: 2rem 2rem 0 2rem;
				@media (pointer: fine) and (orientation: landscape) {
					padding: 3.5rem 0 2rem 2rem;
				}
			}
			& > :nth-child(1) {
				padding: 2rem 2rem 0 2rem;
				@media (pointer: fine) and (orientation: landscape) {
					padding: 3.5rem 0 2rem 2rem;
				}
			}
			& > :nth-last-child(1) {
				padding: 2rem 2rem 0 2rem;
				@media (pointer: fine) and (orientation: landscape) {
					padding: 3.5rem 0 2rem 2rem;
				}
			}
			& > :nth-child(1) {
				z-index: 10;
			}
			& > :nth-child(2) {
				z-index: 9;
			}
			& > :nth-child(3) {
				z-index: 8;
			}
			& > :nth-child(4) {
				z-index: 7;
			}
			& > :nth-child(5) {
				z-index: 6;
			}
			& > :nth-child(6) {
				z-index: 5;
			}
			& > :nth-child(7) {
				z-index: 4;
			}
			& > :nth-child(8) {
				z-index: 3;
			}
			& > :nth-child(9) {
				z-index: 2;
			}
			& > :nth-child(10) {
				z-index: 1;
			}
		}
		.poland ~ footer,
		.germany ~ footer,
		.czechia ~ footer {
			margin-top: 2rem;
			@media (pointer: fine) and (orientation: landscape) {
				margin-left: 2rem;
				margin-top: 0;
			}
		}
	}
}
