@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';
@import '../mixins/general_btn.scss';

article.element > span {
	display: flex;
	position: relative;
	justify-content: flex-start;
	@media (orientation: portrait) {
		justify-content: center;
	}
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-justify: auto;
	font-size: 1rem;
	width: 100%;
	border: $border-width solid $main-bkg;
	background: $second-bkg;
	box-shadow: $shadow-box;
	& > h4.title {
		position: static;
		font-size: 1.4rem;
		max-width: 80%;
		margin-top: -1rem;
		background: $second-bkg;
		padding: .2rem .8rem;
	}
}
article.element > span > .frame {
	max-width: 100%;
	height: 40vh;
	@media (orientation: landscape) and (min-width: 37rem) {
		min-height: 80%;
		flex-direction: row;
	}
	padding: 1rem 2rem;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	& > img.frame_image {
		height: 75%;
		width: 100%;
		object-fit: cover;
		object-position: center;
		@media (orientation: landscape) and (min-width: 37rem) {
			height: 100%;
			min-width: 70%;
		}
	}
	& > p.frame_content {
		@media (min-width: 37rem) {
			align-self: center;
		}
	}
}
article.element > span > button.description {
	@include general_btn($second-bkg, $alt-hover-bkg, $main-font, $second-font, $main-border, $shadow-color-main);
	font-size: 1.4rem;
	position: static;
	@media (min-width: 52rem) {
		font-size: 1rem;
	}
	min-height: 2rem;
	margin-bottom: 1rem;
}

@media (pointer: fine) and (min-width: 52rem) {
	article.element > span {
		position: relative;
		border-width: $border-width-desktop;
		justify-content: flex-end;
		@media (orientation: portrait) {
			justify-content: center;
		}
		& > h4.title {
			position: absolute;
			font-size: 1.4rem;
			max-width: 80%;
			margin-top: 0;
			top: -1rem;
			background: $second-bkg;
			padding: .2rem .8rem;
		}
	}
	article.element > span > .frame {
		max-width: 90%;
		max-height: 90%;
		padding: 1rem 1rem 3rem 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media (orientation: portrait) {
			flex-direction: row;
		}
		& > img.frame_image {
			min-height: 100%;
			max-width: 90%;
			object-fit: cover;
			align-self: center;
			margin: auto;
			@media (orientation: portrait) {
				flex-direction: row;
				margin-right: 1rem;
			}
		}
	}
	article.element > span > button.description {
		position: static;
		margin-bottom: -1rem;
		min-height: 2rem;
	}
}
