@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';
@import '../mixins/general_btn.scss';

article.element > span {
	display: flex;
	position: relative;
	justify-content: flex-start;
	@media (orientation: portrait) {
		justify-content: center;
	}
	flex-direction: column;
	align-items: center;
	text-align: center;
	font-size: 1rem;
	width: 100%;
	border: $border-width solid $main-bkg;
	background: $second-bkg;
	box-shadow: $shadow-box;
	& > h4 {
		position: absolute;
		font-size: 1.4rem;
		max-width: 80%;
		top: -1rem;
		background: $second-bkg;
		padding: .2rem .8rem;
	}
}
article.element > span > .frame {
	max-width: 90%;
	max-height: 75%;
	padding: 1.3rem;
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	@media (min-width: 37rem) {
		flex-direction: row;
	}
	justify-content: space-between;
	& > img.frame_image {
		margin-right: 0;
		max-height: 80%;
		object-fit: cover;
		object-position: center;
		@media (min-width: 37rem) {
			margin-right: 1rem;
			max-height: unset;
		}
	}
	& > p.frame_content {
		@media (min-width: 37rem) {
			align-self: center;
		}
	}
}
article.element > span > button.description {
	@include general_btn($second-bkg, $alt-hover-bkg, $main-font, $second-font, $main-border, $shadow-color-main);
	font-size: 1.4rem;
	position: absolute;
	bottom: 1rem;
	@media (min-width: 52rem) {
		font-size: 1rem;
	}
	margin-bottom: 1rem;
	min-height: 2rem;
}

@media (pointer: fine) and (min-width: 52rem) {
	article.element > span {
		border-width: $border-width-desktop;
		justify-content: flex-end;
		@media (orientation: portrait) {
			justify-content: center;
		}
	}
	article.element > span > .frame {
		max-width: 90%;
		max-height: 80%;
		padding: 1rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@media (orientation: portrait) {
			flex-direction: row;
		}
		& > img.frame_image {
			object-fit: contain;
			align-self: center;
			margin-right: 0;
			@media (orientation: portrait) {
				flex-direction: row;
				margin-right: 1rem;
			}
		}
	}
	article.element > span > button.description {
		position: static;
		margin-bottom: -1rem;
		min-height: 2rem;
	}
}
