@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';

.element {
    display: flexbox;
    flex-direction: row;
    text-transform: uppercase;
    font-size: .8rem;
}

@media (pointer: fine) and (min-width: 52rem) {
    .element {
        flex-direction: column;
    }
}