@import '../../../node_modules/normalize-scss/sass/_normalize.scss';

@mixin general_btn ($bkg_color, $hover_color_bkg, $font_color, $hover_color_font, $border_color, $alt-border) {
    cursor: pointer;
    font-weight: lighter;
    display: flex;
    align-self: center;
    padding: .2rem 1.2rem;
    letter-spacing: .1rem;
    min-height: 1rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
    border: solid $btn-border-width $border_color;
    background: $bkg_color;
    color: $font_color;
    outline: none;
    transition: all .2s ease-in-out;
    &:hover {
        background-color: $hover_color_bkg;
        color: $hover_color_font;
        border-color: $alt-border;
    }
    &:active {
        background-color: $bkg_color;
        color: $font_color;
        transform: scale(0.98);
    }
}