@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';

// styled arrow used inside some functional buttons (ie. scroll up or quick jump to contact section):
@mixin general_arrow_btn($main_bkg, $second_bkg) {
	display: block;
	height: 2rem;
	width: 2rem;
	.arrowBox {
		&--top,
		&--bottom {
			position: absolute;
			background: $main_bkg;
			height: .15rem;
			width: 100%;
			left: -.4rem;
			&:after {
				background-color: $second_bkg;
				content: '';
				height: 100%;
				position: absolute;
				top: 0;
				transition: all .1s;
			}
		}
		&--top {
			transform: rotate(45deg);
			transform-origin: bottom right;
			&:after {
				left: 100%;
				right: 0;
				transition-delay: 0s;
			}
		}
		&--bottom {
			transform: rotate(-45deg);
			transform-origin: top right;
			&:after {
				left: 0;
				right: 100%;
				transition-delay: .1s;
			}
		}
		&:hover {
			&--top:after {
				border: transparent;
				left: 0;
				transition-delay: .1s;
			}
			&--bottom:after {
				border: transparent;
				right: 0;
				transition-delay: 0s;
			}
		}
		&:active,
		&:focus {
			outline: none;
		}
	}
}
