@import '../../../node_modules/normalize-scss/sass/_normalize.scss';

@mixin general_btn ($bkg_color, $hover_color_bkg, $font_color, $hover_color_font, $hover_color_border) {
    cursor: pointer;
    display: flexbox;
    padding: .2rem .8rem;
    letter-spacing: .1rem;
    min-height: 1rem;
    text-transform: uppercase;
    border: solid .1rem $bkg_color;
    background: $bkg_color;
    color: $font_color;
    outline: none;
    &:hover{
        color: $hover_color_font;
        background: $hover_color_bkg;
        border-radius: .3rem;
        transition: all .2s ease-in-out;
    }
    &:focus {
        color: $hover_color_font;
        background: $hover_color_bkg;
        border-radius: .3rem;
    }
}