@import '../../../node_modules/normalize-scss/sass/_normalize.scss';

@mixin general_btn ($bkg_color, $hover_color_bkg, $font_color, $hover_color_font, $hover_color_border) {
    cursor: pointer;
    display: inline-block;
    position: relative;
    border: 0;
    padding: .6rem 1.2rem;
    letter-spacing: .12rem;
    min-height: 1.8rem;
    text-transform: uppercase;
    border: solid .1rem $bkg_color;
    background: $bkg_color;
    color: $font_color;
    transition: all .2s ease-in-out;
    &:hover {
        color: $hover_color_font;
        background-color: $hover_color_bkg;
        border-radius: .3rem;
    }
}