@import '../../../node_modules/normalize-scss/sass/_normalize.scss';

@mixin main__page($bkg_color, $height) {
    display: flex;
    width: 100%;
    height: $height;
    background-color: $bkg_color;
    font-size: 1.2rem;
    align-items: center;
    justify-content: center;
}