@import '../../../node_modules/normalize-scss/sass/_normalize.scss';

// mixin for the main page general layout:
@mixin main_page($bkg_color, $height) {
	display: flex;
	position: relative;
	z-index: 0;
	width: 100%;
	height: $height;
	background-color: $bkg_color;
	align-items: center;
	justify-content: center;
}
