@use '../../../node_modules/normalize-scss/sass/_normalize.scss';

@mixin menu_single_btn ($bkg_color, $font_color) {
    display: flex;
    position: fixed;
    outline: none;
    & > a:focus {
        transform: scale(0.95);
     }
    & > a,
        a:visited,
        a:link,
        a:visited:active {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $font_color;
            background: $bkg_color;
            font-weight: bold;
            text-transform: uppercase;
            height: fit-content;
            width: 10em;
            font-size: 1.1rem;
        }
}