@import '../../../node_modules/normalize-scss/sass/_normalize.scss';

@mixin menu_single_btn ($bkg_color, $font_color) {
    display: flex;
    position: fixed;
    & > a,
        a:visited,
        a:link,
        a:link:active,
        a:visited:active {
            display: flex;
            align-items: center;
            justify-content: center;
            color: $font_color;
            background: $bkg_color;
            font-weight: bold;
            text-transform: uppercase;
            height: 4em;
            width: 10em;
            font-size: .7rem;
        }
}