@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
@import '../variables/variables.scss';

//Button - top navigation
//
//Custom navigation button, can be used in other parts on website.
//
//Usage:
//
//* `@include top-nav-btn-model($bkg_color, $font_color);`
//
//Parameters:
//
//* `$bkg_color`  - color for the button's background
//* `$font_color` - color for the font inside the button
//
//~
//
//Markup:
//<li class="button-model"><a href='#home'>Strona główna</a></li>
//
//Styleguide Mixins.Elements

@mixin top-nav-btn-model($bkg_color, $hover_color_bkg, $font_color, $hover_color_font, $border_color, $shadow_color) {
    font-family: $header-font;
    display: flex;
    justify-content: center;
    text-align: center;
    background: transparent;
    color: $font_color;
    border: solid .05rem $border_color;
    outline: none;
    &:active{
        transform: scale(0.98);
        transition: transform .2s linear;
        }
    & > a,
        a:active,
        a:visited,
        a:link,
        a:visited:active,
        a:link:active {
            min-width: 100%;
            @media (min-width: 37.71rem) {
                min-width: 8vw;
            }
            background: none;
            box-shadow: none;
            font-size: inherit;
            font-weight: normal;
            position: relative;
    }
}

.button-model {
    @include top-nav-btn-model($main-bkg, $hoover-bkg, $main-font, $font-hoover, $border-menu-btn-hoover, $shadow-color-main);
}