@import '../../../node_modules/normalize-scss/sass/_normalize.scss';


@mixin top-nav__button($bkg_color, $font_color) {
    margin: auto;
    background-color: $bkg_color;
    color: $font_color;
    font-weight: bold;
    font-size: .8rem;
    text-transform: uppercase;
    cursor: pointer;
}