@import '../../../node_modules/normalize-scss/sass/_normalize.scss';
//list of variables used in project:
//fonts:
$header_font: 'Encode Sans Expanded', 'Huelvetica', sans-serif;
$text_font: 'Blinker', 'Huelvetica', sans-serif;
//z-index list:
$zidx_top_navbar: 100;
$zidx_mob_menu_sgl_btn: 90;
$zidx_mod_win: 9999;
//colors for general backgrounds, hover backgrounds:
$main_bkg: hsl(0, 0%, 0%);
$second_bkg: hsl(90, 10, 95);
$hover_bkg: hsl(90, 10, 75);
$mob_menu__sgl_btn: hsla(40, 40, 90, .8);
$alt_hover_bkg: hsl(0, 0, 0);
$alt_hover_btn: hsla(90, 10, 95, .6);
$modal_bkg: hsla(200, 50, 10, 0.5);
// fonts colours:
$main_font: hsl(0, 0, 0);
$second_font: hsl(90, 10, 95);
$font_hover: hsl(0, 6%, 20%);
// borders colours:
$main_brd: hsl(0, 0%, 40%);
$second_brd: hsl(90, 10, 95);
$menu_btn_hover_brd: hsl(0, 10, 35);
// borders width:
$width_brd: .08rem;
$width_brd-dskt: .06rem;
$width_btn_brd: .06rem;
$form-brd: .06rem;
// shadows colours:
$main_shdw: hsl(0, 0, 0);
$second_shdw: hsl(90, 10, 95);
$shadow_box: none;
