@import '../../../node_modules/normalize-scss/sass/_normalize.scss';

//list of variables used in project:

//z-index list:
$index_top_navabr: 100;
$mobile-menu-sgl-btn: 90;

//colours:
$main-bkg: hsl(0, 0, 0);
$second-bkg: hsl(90, 10, 95);

$main-font: hsl(0,0,0);
$second-font: hsl(90,10,95);

$color-mobile-menu-bkg-btn: hsla(40, 40, 90, .8);
