//import style library to normalize all diffirences may show up in diffirent browsers:
@import '../../node_modules/normalize-scss/sass/_normalize.scss';
@import './components/main_wrapper.scss';
@import './components/nav_top.scss';
@import './components/footer.scss';
@import './components/main_slider.scss';
@import './components/sub_wrappers.scss';
@import './components/subpage_articles.scss';
@import './components/scrl_up_btn.scss';
@import './components/modal_window.scss';
@import './components/bar_gdpr.scss';
@import './components/reveal_txt.scss';
@import './components/contact_form.scss';
@import './components/description_modal_window.scss';

//root style block has box-sizing set to border-box to avoid unexpected behaviour for box elements:
:root {
	box-sizing: border-box;
	font-family: $text-font, 'Huelvetica', sans-serif;
	font-weight: lighter;
	//calc() method in font size assures that the font size will be respond on each window size change
	font-size: calc(.5rem + 1vw);
	line-height: 1.2;
}
html {
	min-height: 100%;
	display: block;
}
body {
	//background-color: $primary-bkg-color;
	//removes from body initial margin and padding
	margin: 0;
	padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	font-family: $header-font;
	font-size: 1.4rem;
	font-weight: bolder;
}
*,
*::before,
*::after {
	box-sizing: inherit;
}

a,
a:visited,
a:link,
a:link:active,
a:visited:active {
	all: unset;
	color: inherit;
	cursor: pointer;
	outline: none;
}

button {
	border: none;
	margin: 0;
	padding: 0;
	width: auto;
	overflow: visible;
	background: transparent;
	outline: none;
	/* inherit font & color from ancestor */
	color: inherit;
	font: inherit;
	/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
	line-height: normal;
	/* Corrects font smoothing for webkit */
	-webkit-font-smoothing: inherit;
	-moz-osx-font-smoothing: inherit;
	/* Corrects inability to style clickable `input` types in iOS */
	appearance: none;
	/* Remove excess padding and border in Firefox 4+ */
	cursor: pointer;
	&::-moz-focus-inner {
		border: 0;
		padding: 0;
	}
}
.hidden_header {
	width: 0;
	height: 0;
	padding: 0;
	margin: 0;
	visibility: hidden;
}
@media not screen\0 {
	.no-support {
		display: none;
	}
}
//this part checks if browser is internet explorer and if yes, set style for webpage
@media screen\0 {
	html {
		display: block;
	}
	.header,
	aside,
	img,
	.outer-wrapper {
		display: none;
	}
	.no-support {
		z-index: 9999;
		box-sizing: border-box;
		border: 1rem solid yellow;
		font-size: 1rem;
		padding-top: 8rem;
		position: absolute;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		text-justify: center;
		background: black;
		color: white;
		width: 100%;
		min-height: 100%;
		> hr {
			margin: 2rem 0;
			width: 60%;
		}
		> h2.no-support-txt {
			margin-top: 5rem;
			min-height: 100%;
		}
	}
}
