//import style library to normalize all diffirences may show up in diffirent browsers:
@import '../../node_modules/normalize-scss/sass/_normalize.scss';
@import './components/main_wrapper.scss';
@import './components/nav_top.scss';
@import './components/footer.scss';
@import './components/main_slider.scss';
@import './components/sub_wrappers.scss';
@import './components/subpage_articles.scss';
@import './components/scrl_up_btn.scss';
@import './components/modal_window.scss';
@import './components/bar_gdpr.scss';
@import './components/reveal_txt.scss';
@import './components/contact_form.scss';
//root style block has box-sizing set to border-box to avoid unexpected behaviour for box elements:
:root{
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
//calc() method in font size assures that the font size will be respond on each window size change
    font-size: calc(.5rem + 1vw);
    line-height: 1.4;
}
html {
    min-height: 100%;
  }
body{
//    background-color: $primary-bkg-color;
//removes from body initial margin and padding
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

a,
a:visited,
a:link,
a:link:active,
a:visited:active  {
    all: unset;
    cursor: pointer;
}

button {
    cursor: pointer;
    appearance: none; // fix the strange behaviour on iOS' devices
}